
[Unit]
Description=couchbase_bootstrap_node



[Service]
TimeoutStartSec=360
ExecStartPre=-/usr/bin/docker kill couchbase
ExecStartPre=-/usr/bin/docker rm couchbase
ExecStartPre=/usr/bin/docker pull tleyden5iwx/couchbase-2.2-coreos
ExecStart=/bin/bash -c 'while [ -z $(etcdctl get /services/couchbase/userpass) ]; do sleep 1; done; USERPASS=$(etcdctl get /services/couchbase/userpass);  /usr/bin/docker run --name couchbase --net=host tleyden5iwx/couchbase-2.2-coreos couchbase-start -bootstrap "%H" $USERPASS'
ExecStop=/usr/bin/docker stop couchbase

[X-Fleet]
Conflicts=couchbase_node.*.service
Conflicts=couchbase_bootstrap_node.service
